.App {
  text-align: center;
}

.staticBox {
  margin: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

h5 {
  margin: 0;
  font-size: 16px;
}

.winner {
  font-size: 30px;
  transition: all .4s;
  color: blue;
  /* margin-bottom: 19px; */
}

.draw {
  font-size: 30px;
  transition: all .4s;
  color: #bd0000;
}

button {
  margin-bottom: 20px; 
  border: 1px solid black;
  padding: 10px 20px; 
}