.App {
  text-align: center;
}

h5 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.winner {
  font-size: 30px;
  transition: font-size .4s;
  color: blue;
}

.draw {
  font-size: 30px;
  transition: font-size .4s;
  color: #bd0000;
}

button {
  margin-bottom: 20px; 
  border: 1px solid black;
  padding: 10px 20px; 
}